.div{
    background-color: rgb(61, 43, 226);
    height:1100px;
    width: 1900px;
    margin: 0 auto;
} 

.div2{
   width: 1900px;
   height: 500px;
   float: inline-end;
}

.form{
    width:600px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:#ccc;
}

.label {
    width:80px;
	font-weight:bold;
	display:inline-block
}

.input {
    width:150px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0; 
	display:inline-block;
    align-items: center;
    margin-bottom: 10px;
    
}

.button1{

  padding: .6rem 1rem;
  border: 1px solid #995309;
  border-radius: 4px;
  background-color: #d9750b;
  color: #fff;

  font-size: 1.5rem;
  text-shadow: 0 -1px 0 rgba(0,0,0,.5);
  box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
  0 1px 3px rgba(0,0,0,.2);
 /*  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f90),to(#e76a00)); */
  background-image: linear-gradient(#f90 10%,#e76a00 100%);
  align-items: center;
  justify-content: center;

}

.link{
    justify-content: center;
    padding: 3px;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
    text-align: center;
    float: right;
}

.h2{
    color: red;
}

.h3{
    color: red;
}